<div class="container">
    <h2>Add a new todo</h2>
<form method="POST" action="/todos">
<label>
    <p>title</p>
    <p><input type="text" name="title"></p>
</label>
<p>
    <button type="submit">Add Todo Task</button>
</p>
</form>
{{>go-back}}
</div>