<div class='container'>
  <h2 class='gray-header'>Todo: {{todo.title}}</h2>
  <h2 class='gray-header'>Todo ID: {{todo.id}}</h2>

  <div class='form'>
    <a href='/todos' class='btn btn-outline-success'>Powrót do listy todosów.</a>
  </div>
</div>